<div class="jumbotron">
    <h1>{{num1}}{{num2}}{{num3}}{{num4}}</h1>
</div>
<!--     <progressbar
        type="{{type1}}"
        max="100" 
        value="progress.value"
        ng-if="run"
        animate="true">
        <span style="color:black; white-space:nowrap;">1 {{progress.value}}</span>
    </progressbar>

    <progressbar
        type="{{type2}}"
        max="100" 
        value="value2"
        ng-if="!run"
        animate="true">
        <span style="color:black; white-space:nowrap;">2 {{value2}}</span>
    </progressbar> -->
    <div id="timer"></div>

<div class="well text-center">
        <div class="row">
        
        <div class="col-md-9">
        <p>Enter Answer Here</p>
            <input type="text" ng-model="userAnswer" maxlength="4" name="num_field">
          	</div>
            <div class="col-md-3">
                <h3>Score: {{numCorrect}}</h3>
            </div>
        </div>
</div>
<script>
	$("input[name='num_field']").focus();
</script>